soaProject1/SOA/Schemas/SimpleAdd_Process.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/soaApp1/soaProject1/SimpleAdd_Process"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="FirstNumber" type="int"/>
    <element name="SecondNumber" type="int"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="result" type="int"/>
			</sequence>
		</complexType>
	</element>
</schema>